<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NY times</title>
  <!-- Import Font Google-->
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">


  <script type="text/javascript" src="//platform.linkedin.com/in.js">
  api_key: 77qjjnv8yx95xr
  authorize: false
  onLoad: onLinkedInLoad
</script>

</head>
<body>
<h1>dfdc</h1>
    <script type="in/Login">
      </script>

  </section>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- Import jQuery and Bootstrap.js -->

  <script type="text/javascript" src="../js/add.js"></script>
</body>

</html>


  // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
      IN.Event.on(IN, "auth", shareContent);
    }

  // Handle the successful return from the API call
  function onSuccess(data) {
    console.log(data);
  }

  // Handle an error response from the API call
  function onError(error) {
    console.log(error);
  }
